<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <script type="text/x-handlebars">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Present Thinking</a>
        <ul class="nav">
          <li>{{#linkTo 'wishlists'}}Lists{{/linkTo}}</a></li>
          <li>{{#linkTo 'about'}}About{{/linkTo}}</a></li>
        </ul>
      </div>
    </div>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="about">
    <div class="about">
      SOME STUFF
    </div>
  </script>

  <script type="text/x-handlebars" id="wishlists">
    <div class="row">
      <div class="span4 bs-docs-sidebar">
      <ul class="nav nav-tabs nav-stacked affix">
      {{#each item in model}}
      {{#with item}}
        <li title="Added {{unbound date fireDate}}">{{#linkTo 'wishlist' item}}
          <i class="icon-chevron-right"></i> {{title}} &mdash; <em>{{description}}</em>
        {{/linkTo}}</li>
      {{/with}}
      {{/each}}
      </ul>
    </div>
    <div class="span8">{{outlet}}</div>
  </script>

  <script type="text/x-handlebars" id="wishlist/_edit">
    <p>{{view Ember.TextField valueBinding='title'}}</p>
    <p>{{view Ember.TextArea valueBinding='description'}}</p>
  </script>

  <script type="text/x-handlebars" id="wishlist/_full">
    <p>{{title}}</p>
    <p>{{description}}</p>
    <ul>
    {{#each listItems}} 
      <li>{{title}} &mdash; <em>{{description}}</em></li>
    {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" id="wishlist">
  {{#if isEditing}}
    {{partial 'wishlist/edit'}}
    <button {{action 'doneEditing'}}>Done</button>
  {{else}}
  {{partial 'wishlist/full'}}
    <button {{action 'edit'}}>Edit</button>
    <button {{action 'delete'}}>Delete</button>
  {{/if}}
  </script>

  <script src="js/libs/jquery-2.0.0.min.js"></script>
  <script src="js/libs/d3.v3.min.js"></script>
  <script src="js/libs/bootstrap.js"></script>
  <script src="js/libs/handlebars-1.0.0-rc.3.js"></script>
  <script src="js/libs/ember-1.0.0-rc.2.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/libs/moment.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
